ul.menu {
  padding-right: 3%;
  /* WHY CAN'T I CENTER THE MENU??? */
}

ul.menu li {
  display: inline-block;
  list-style: none;
  padding: 15px 20px;
  font-size: 20px;
}

body {
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}

.pht img {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  width: 600px;
}
